<li>
  <%= link_to('Lenders', lenders_path) %>
  </li>
  <li>
  <%= link_to('Borrowers', borrowers_path) %>
  </li>
  <li>
  <%= link_to('Transactions', transactions_path) %>
  </li>
  <li>
  <%= link_to('Badges', badges_path) %>
  </li>