<% if user_signed_in? %>
<p> You are signed in as <b><%= current_user.email %> </b></p>
  <li>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Sign up', new_user_registration_path)  %>
  </li>
<% end %>
