/*
ul.hmenu {
  list-style: none;
  float: center;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: block;  
}

ul.hnavigation {
  list-style: none;
  float: center;
  margin: 0 0 2em;
  padding: 0;
}

ul.hnavigation li {
  display: block;
}

label{
      display: block;
      font-weight: bold;
}
*/