<html>
	<h1 style="color:green;text-align:center;"><i>Mission of seeds</i></h1>
	<p>Play a game, lend money, and help someone earn a living. :) </p>
	<p>This is a test site. The real thing is on the way... </p>
</html>