<html>
	<h1 style="color:green;text-align:center;"><i>Mission of seeds</i></h1>
	
<p> Over 3 billion people – half the world's population – live on less than $2 a day. 
But global poverty can be eliminated during our lifetimes. Allowing more widespread 
access to interest-generating capital so that the poor can launch entrepreneurial 
endeavors is a key component. There is a huge demand for these loans that is not 
being met.</p>

<p>Seeds is a revolutionary social game for mobile that allows players to microlend 
to entrepreneurs in the developing world and in their home communities through 
direct mobile-to-mobile lending within the game mechanics. SMS-based mobile money 
transfer systems like Safaricom's M-PESA, through which 20% of Kenya's GDP was sent 
in 2010, can facilitate this.</p>

<p>Seeds lets lenders have Fun While Doing Good!</p>

</html>
