<html>
	<h1 style="color:green;text-align:center;"><i>Welcome</i></h1>
	<p><b>Thanks for signing up with PlaySeeds. Please close the browser and then login into the application using the credentials you just created. </b></p>
</html>
