<html>

<head>
  <style type="text/css">
    p { margin-left:13em; margin-right:20em; }
  </style>
</head>

	<h1 style="color:brown;text-align:center;"> Seeds App Testing </h1>
	<h2 style="color:green;text-align:center;"><i>About the Seeds Game</i></h2>
		<p> Seeds is a casual social-mobile game that revolves around growing a citadel 
		for a family of fantasy creatures called seedlings, each of whom develops complex 
		and unique personalities through their interactions with the player, their home, 
		and one another. Players can decorate the seedlings’ home and the seedlings 
		themselves, as well as govern the actions of the seedlings through an intuitive 
		interface. Each seedling is a unique individual unlike the seedlings that belong 
		to other players. The player will witness the lives of many of their seedlings 
		from birth, and watch as their group flourishes. Users will be able to expand the 
		citadels, purchase and add new pieces of furniture, and interact with the 
		seedlings. As users progress through the game, accomplish missions, and gain more 
		levels the world opens up more with more floors and seedlings. </p>
	<h3 style="color:green;text-align:center;"><i>Testing instructions</i></h3>
		<p>1. Download the application build from Testflight using this 
		<a href="http://tflig.ht/SpFVyw">link</a>. You need to do this on an iOS device 
		(iPhone, iPod Touch, iPad). </p>
		<p>You might not be able to test the app straight away as your device UUID needs 
		to be among those approved to run the application. Once approved, you can proceed. </p>
		<p>2. Start the application and use the following credetials to log in: Email: 
		"tester@seeds.com" and Password: "tester" or create an account by filling the web form brought up
		by pressing the 'Sign up' button. Once you have created the account, close Safari
		and use the credentials you just created to log into the application. </p>
		<p>3. Navigate to the 'Citadel' tab to play the game. </p>
	<h4 style="color:green;text-align:center;"><i>Testing Survey/Tutorial</i></h4>
		<p>We would love for you to take <a href="https://duke.qualtrics.com/SE/?SID=SV_bJjqU12gvqrqYE5"> this survey</a> 
		while/after playing the game and exploring the other features found in the 
		application. Your feedback will enable us to more informed changes to the 
		application. Thank you. </p>
</html>